body {
  background-color: aqua;
}
h1 {
  font-family: Comic Sans MS;
  font-size: 60px;
  color: darkblue;
  text-align: center;
}
h4 {
  text-align: right;
  font-style: italic;
}
p {
  text-align: justify;
}

h3 a {
  color: white;
}

h3 a:link {
}

#atas {
  color: orange;
  text-align: center;
}

#bawah {
  line-height: 1.5;
  text-align: center;
}
