:root {
    --pr-color : grey
}


body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);
    min-height: 2000px;
}

/* navbar style*/
.navbar {
    z-index: 1000;
}
.navbar-brand {
    font-weight: 700;
    font-size: 20px;
}
.nav-link {
    font-size: 16px;
}
.nav-link.active {
    font-weight: 700;
}
.button-secundary {
    width: 133px;
    height: 40px;
    background-color: rgb(254, 254, 255);
    color: var(--pr-color);
    border: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
}


/* hero section */

#hero {
min-height: 100vh;
display: flex;
align-items: center;
background-image: url(../asset/img/unpad_1.JPG);
background-repeat:no-repeat ;
background-size: cover;
background-position: center;
position: relative;

}

.hero-tagline h1 {
    color: #fff;
    font-weight: 700;
    font-size: 62px;
    line-height: 60px;
    width: 60%;
}

.hero-tagline h3 {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin-top: 25px;
}
.hero-tagline p {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
    width: 60%;
}

#hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,rgb(254, 254, 255)3%, rgba(255,255,255,0)25%);
}

/* tentang section */

#tentang {
    padding: 100px 0;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    color: rgb(74, 173, 235);
}

.sub-title {
    font-size: 18px;
    color: rgb(115, 115, 124);
    text-align: justify;
}

.card-visi {
    width: 100%;
    height: 313px;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all .2s ease-in;
}
.card-visi h3 {
    color: rgb(74, 173, 235);
    font-size: 24px;
    transition: all .2s ease-in;
}
.card-visi p {
    color: rgb(115, 115, 124);
    font-size: 14px;
    transition: all .3s ease-in;
}

/* hover */

.card-visi:hover {
    width: 100%;
    height: 313px;
    border-radius: 10px;
    background: linear-gradient(160deg,rgb(136, 201, 242),#5696df );
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all .2s ease-in;
}
.card-visi h3:hover {
    color: #fff;
    font-size: 24px;
    transition: all .2s ease-in;
}
.card-visi p:hover {
    color: #fff;
    font-size: 14px;
    transition: all .2s ease-in;
}

/* section unggulan */

#unggulan {
    margin-bottom: 150px;
}
.row {
    margin-bottom: 20px;
}
.card {
    height: 480px;
    border: none;
    background-color: rgb(235, 233, 233);
}

.card-body h4{
    color:   rgb(74, 173, 235);
    font-weight: 600;
    font-size: 24px;
    line-height: .8rem;
}

.card-body p {
    color: rgb(89, 89, 95);
    font-weight: 400;
    font-size: 14px;
}

.card:hover {
    background: linear-gradient(170deg, rgb(136, 201, 242),#0b54a8 );
    box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
    transition: all ease-in-out .3s;
}
.card:hover .card-body h4 {
    color: #fff;
    transition: all ease-in-out .3s;
}
.card:hover .card-body p{
    color: #fff;
    transition: all ease-in-out .3s;
}

/* keunggulan section */

#hero-2 {
    background: linear-gradient(180deg, rgb(136, 201, 242),#c9d2dc );
}

#hero-2 img{
    width: 100%;
    justify-content: right;
    border-radius: 50px;
}

.container h1 {
    color: #fff;
}
